<header
  class="bg-slate-50/80 backdrop-blur-xl w-full sticky top-0 z-40 flex justify-between items-center h-14 px-6 border-b border-slate-200"
>
  <div class="flex items-center gap-4">
    <span class="text-lg font-semibold text-slate-900 font-sans tracking-tight">Administrador</span>
    <div class="h-4 w-px bg-slate-200"></div>
    <div class="flex items-center gap-1 text-slate-500 text-sm">
      <svg class="size-5 fill-current">
        <use href="/sprite.svg#location-icon" />
      </svg>
      <span class="font-sans tracking-tight">Perú</span>
    </div>
  </div>

  <div class="flex items-center gap-4">
    <div class="flex items-center gap-2">
      <app-icon-button icon="notification-icon" />
      <app-icon-button icon="setting-icon" />
    </div>
    <div class="h-4 w-px bg-slate-200"></div>

  </div>
</header>
